* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(231, 211, 211);
}

.container-enter_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.enter-title {
    text-align: center;
    margin: 10%;
    color:rgb(185, 55, 93);
}

.container-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cute {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 60%;
    margin: auto;
    margin-left: 18%;
}

.text-container-left,
.text-container-right {
    display: flex;
    flex-direction: column;   
    align-items: center;    
    text-align: center;   
    gap: 20px;               
}

.read-button {
    padding: 5% 10%;
    background-color: white;
    color: rgb(185, 55, 93);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 100%;
}

.read-button:hover {
    background-color: rgb(185, 55, 93);
    color: white;
}

.read-button:active{
    background-color: rgb(185, 55, 93);
    color: white;
}

.hidden {
    flex-direction: column;
    color: rgb(231, 211, 211);
    background-color:rgb(210, 93, 93);
    color: rgb(210, 93, 93);
    padding: 5%;
    border-radius: 5%;
}

.text-left,
.text-right {
    flex-direction: column;
    color: rgb(231, 211, 211);
    background-color:rgb(185, 55, 93);
    padding: 5%;
    border-radius: 5%;
}

.arrow {
    width: 10%;
    margin-right: 5%;
}

.image-page-container {
    margin-top: 5%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(185, 55, 93);
}

.test {
    display: flex;
    align-items: center;
    justify-items: center;
}

.little-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 7%; */
}

#dupla {
    margin-bottom: 5%;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box {
    width: 600px;
    height: 540px;
    position: relative;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 15px;
    display: flex;
    scrollbar-color: rgb(185, 55, 93) rgb(231, 211, 211);
    background-color: rgb(185, 55, 93);
    scroll-snap-stop: normal;
}

@keyframes tremer {
    0% {transform: rotate(30deg);}
    50% {transform: rotate(-30deg) scale(1.0);}
    100% {transform: rotate(30deg);}
}

.icon {
    animation: tremer 2s linear infinite;
}

.icon:nth-child(2n) {
    animation: tremer 10s linear infinite;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(185, 55, 93);
}

#contador {
    font-size: 35px;
}