* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 211, 211);
}

.container-enter_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.enter-title {
    text-align: center;
    margin: 10%;
    color:rgb(185, 55, 93);
}

.container-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cute {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 60%;
    margin: auto;
}

.text-left, .text-right{
    flex-direction: column;
    color: rgb(231, 211, 211);
    background-color:rgb(185, 55, 93);
    padding: 5%;
    border-radius: 5%;
}